<div class="container border border-dark">
    <h2 class="title text-center m-5">Complete your pending order</h2>
    <div class="row">
        
        <div class="col-12 col-md-7 col-lg-7 ">
            <div class="card">
                <div class="card-header">
                    <h4><b><u>Billing Details</u></b></h4>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Billing Address</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <p>{{order.first_name}} {{order.last_name}} </p>
                                <p>{{order.address_line_1}}</p>
                                <p>{{order.address_line_1}}</p>
                                <p>{{order.city}}</p>
                                <p>{{order.state}}</p>
                                <p>{{order.country}}</p>
                                {% if order.pin_code %}
                                <p>PIN: {{order.pin_code}}</p>
                                {% endif %}
                                <p>Mail Id: {{order.email}}</p>
                                <p>Phone:{{order}} {{order.phone}}</p>
                                {% if order.order_note %}
                                <p>Order note: {{order.order_note}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Payment Method</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <p> {{payment_method}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Review Products</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <div class="cart-table-container">
                        
                                    <table class="cart-table">
                                        <thead>
                                            <tr>
                                                <th class="product-name" colspan="2">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        
                                            <tbody>
                                                {% for item in order_products %}
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a href="{{item.product.geturl}}">
                                                            <img src=" {{ item.product.images.url }}" class="img-fluid" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="{{item.product.geturl}}"> {{ item.product.product_name }} </a>
                                                        
                                                        {% if item.variations.all %}
                                                            {% for var in item.variations.all %}
                                                            <span class="product-variation"></span>{{var.variation_category| capfirst}} : {{var.variation_value| capfirst}}</span><br> 
                                                            {% endfor %}
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td class="product-price">
                                                        {% if item.product.get_offer_percent %}
                                                        <span class="price" style="white-space: nowrap; overflow: hidden;">₹ {{ item.product.get_offer_price }} <br>
                                                        <span style="text-decoration: line-through;"> ₹ </span><span class="main-price discounted" style="text-decoration: line-through;">{{item.product.price}} </span>
                                                        
                                                        {% else %}
                                                        <span class="price">₹ {{ item.product.get_offer_price }} 
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td class="product-quantity">
                                                        <p>{{ item.quantity }}</p>
                                                        
                                                    </td>
                                                    <td class="total-price">
                                                        <span class="price" style="white-space: nowrap; overflow: hidden;">₹ {{item.item_total}} </span>
                                                    </td>

                                                </tr>
                                                {% endfor %}


                                                
                                            </tbody>	
                                            
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

        <div class="col-12 col-md-5 col-lg-5 mb-60">

                <h4 class="checkout-title">Order Total</h4>

                <div class="checkout-cart-total">

                    <h4>Product <span>Total</span></h4>
                    {% for item in order_products %}
                    <ul>
                        
                        <li>{{item.product}}  X {% if item.quantity < 10 %}0{{ item.quantity }}{% else %}{{ item.quantity }}{% endif %} <span>₹ {{item.item_total}} </span></li>
                        
                    </ul>
                    {% endfor %}
                    <p>Sub Total <span>₹ {{pending_total|floatformat:'2'}} </span></p>
                    <p>Shipping Fee <span>₹ {{order.shipping_fee|floatformat:'2'}} </span></p>
                    <p>GST <span>₹ {{order.tax|floatformat:'2'}} </span></p>
                    {% if order.coupon %}
                    <p>Referal/Coupon Discounts <span>₹ {{order.coupon.discount_amount|floatformat:'2'}} </span></p>
                    {% endif %}
                    <h4>Grand Total <span>₹ {{order.order_total|floatformat:'2'}} </span></h4>

                </div>
                                        <!-- Payment Method -->
                <div class="col-12 checkout-cart-total">
                    
                        
                    <div class="payment-icon mb-60 d-flex justify-content-center">
                        <img src="/static/assets/images/icons/pay.png" class="img-fluid" alt="">
                    </div>
                    {% if payment_method == 'razorpay' or payment_method == 'RazorPay' %}
                     <form action="{% url 'rozer_payments' %}" method="POST">
                        {% csrf_token %}
                        <div class="check-box d-flex justify-content-center">
                            <input type="checkbox" id="cod" name="cod" required>
                            <label for="cod">Confirm Payment</label>
                        </div>
                        <div class="d-flex justify-content-center">
                                    
                            <button type="submit" id="pay-btn" name="submit" class="lezada-button lezada-button--medium mt-30 payWithRazor">Pay with Razorpay</button>
                        </div>
                     </form>
                    {% elif payment_method == 'cash' %}
                        <form action="{% url 'payments' %}" method="POST">
                            {% csrf_token %}
                            <div class="check-box">
                                <input type="checkbox" id="cod" name="cod" required>
                                <label for="cod">Confirm COD</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                
                                <button type="submit" name="submit" class="lezada-button lezada-button--medium mt-30 ">Confirm Checkout</button>
                            </div>
                        </form>
                    {% else %}
                        <form action="{% url 'wallet_payments' %}" method="POST">
                            {% csrf_token %}
                            <div class="check-box">
                                <input type="checkbox" id="wallet" name="wallet" required>
                                <label for="cod">Confirm Payment using wallet money</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                
                                <button type="submit" name="submit" class="lezada-button lezada-button--medium mt-30 ">Confirm Checkout</button>
                            </div>
                        </form>
                    {% endif %}
                    
    

                    <div class="container">
                        <form method="post" action="{% url 'cancel_order' order.id %}">
                        {% csrf_token %}
						<div class="row justify-content-center">
							<div class="col-12 col-md-6">
								<button type="submit" name="submit" class="lezada-button lezada-button--medium mt-30 btn btn-primary btn-block" onclick="return confirm('Are you sure to cancel the order?')">Cancel Order</button>
							</div>
						</div>
                        </form>
					</div>
                                        
                </div>

        </div>

    </div>
</div>
	