{% extends 'customadmin/admin_base.html' %}
{% load static %}


<h2>Products Lists</h2>

{% block title %}
Products List
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Products List
{% endblock page_title %}

{% block page_content %}
<div class="row">    

    <div class="card">
        <div class="card-header">
            <h4>Products List</h4>
        <div class="card-header-form">
            <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </div>
            </form>
        </div>
        </div>
        
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">
                <tbody>
                <tr>
                    <th>
                        <!--<div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                        </div>-->
                    </th>
                    <th>Product Name</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Availble</th>
                    <th>Stock</th>
                    <th>Imanges</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for product in products %}
                <tr>
                    <td class="p-0 text-center">
                        <!--<div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>-->
                    </td>
                    <td> {{product.product_name}} </td>
                    <td>
                        {% if product.images %}
                        <!--<img alt="profil" src="{% static product.profile_pic %}" class="rounded-circle" width="35" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian">-->
                        <img alt="profile" src="{% if product.images %}{{ product.images.url }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" class="rounded-circle" width="35" data-toggle="tooltip" title="" data-original-title="{{ product.first_name }} {{ product.last_name }}">
                        {% else %}
                        <img src="{% static 'admin_assets/img/avatar/avatar-1.png' %}" class="rounded-circle" width="35" data-toggle="tooltip" title="" data-original-title="{{ product.first_name }} {{ product.last_name }}">
                        
                        {% endif %}
                    </td>
                    <td>
                        {{product.category}}
                    </td>
                    <td class="align-middle">
                        {% if product.is_available and product.stock != 0 %}<a href="#" class="btn btn-icon btn-success"><i class="fas fa-check"></i></a>
                        {% elif product.stock == 0 %} <p class="text-danger">Out of stock</p> 
                        {% else %}<a href="#" class="btn btn-icon btn-danger"><i class="fas fa-times"></i></a> {% endif %}
                        
                    </td>
                    

                    <td> {{product.stock }} </td>
                    <td><a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="{% url 'add_product_images' product.id %}"><i class="fas fa-plus"></i></a></td>
                    <td><a href="{% url 'product_update' product.id %}" class="btn btn-warning">Update</a></td>
                    <td><a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                
                
                </tbody></table>
            </div>
        </div>
        
    </div>
    
</div>    
{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}