{% extends 'customadmin/admin_base.html' %}
{% load static %}


<h2>Products Images</h2>

{% block title %}
Products Images
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Products Images
{% endblock page_title %}

{% block page_content %}

    <h1>Add Product Images</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        
        <!-- Formset for uploading images -->
        <div>
            <h2>Upload New Images</h2>
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
        </div>
        
        <!-- Display uploaded images if any -->
        {% if formset.instance.p_images.all %}
        <div>
            <h2>Uploaded Images</h2>
            {% for image in formset.instance.p_images.all %}
                <img src="{{ image.images.url }}" height="100" width="100" alt="Product Image">
            {% endfor %}
        </div>
        {% endif %}
        
        <button type="submit">Save Images</button>
    </form>

{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}