{% extends 'customadmin/admin_base.html' %}
{% load static %}


<h2>Products Lists</h2>

{% block title %}
Variations List
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Variations List
{% endblock page_title %}

{% block page_content %}
<div class="row">    

    <div class="card">
        <div class="card-header">
            <h4>Variations List</h4>
        <div class="card-header-form">
            <!--<form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
            </div>
            </form>-->
            <a href="{% url 'add_variations' %}" class="btn btn-primary mt-4">Add Variation</a>
        </div>
        </div>
        
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">
                <tbody>
                <tr>
                    <th>
                    <div class="custom-checkbox custom-control">
                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                    </div>
                    </th>
                    <th>Product Name</th>
                    <th>Variation Category</th>
                    <th>variation Value</th>
                    <th>Is available</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for var in variations %}
                <tr>
                    <td class="p-0 text-center">
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                        </div>
                    </td>
                    <td> {{var.product.product_name}} </td>
                    <td>
                        {{var.variation_category}}
                    </td>
                    <td>
                        {{var.variation_value}}
                    </td>
                    <td class="align-middle">
                        {% if var.is_active %}<a href="#" class="btn btn-icon btn-success"><i class="fas fa-check"></i></a> {% else %}<a href="#" class="btn btn-icon btn-danger"><i class="fas fa-times"></i></a> {% endif %}
                        
                    </td>
                    
                    <td><a href="{% url 'update_variation' var.id %}" class="btn btn-warning">Update</a></td>
                    <td><a href="{% url 'delete_variation' var.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                
                
                </tbody></table>
            </div>
        </div>
        
    </div>
    
</div>    
{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}