{% extends 'customadmin/admin_base.html' %}
{% load static %}


<h2>Catergory lists</h2>

{% block title %}
Category List
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Category List
{% endblock page_title %}

{% block page_content %}
<div class="row">    

    <div class="card col-lg-12">
        <div class="card-header">
            <h4>Products List</h4>
        <div class="card-header-form">
            <a href="{% url 'category_create' %}" class="btn btn-primary mt-4">Add Category</a>
            
        </div>
        </div>
        
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Category Name</th>
                    <th>Image</th>
                    <th>Slug</th>
                    <th>Update</th>
                    <th>Available</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <td> {{category.cat_name}} </td>
                    <td>
                        {% if category.cat_image %}
                        <!--<img alt="profil" src="{% static product.profile_pic %}" class="rounded-circle" width="35" data-toggle="tooltip" title="" data-original-title="Wildan Ahdian">-->
                        <img alt="{{category.cat_name}}" src="{% if category.cat_image %}{{ category.cat_image.url }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" class="rounded-circle" width="40" height="40" data-toggle="tooltip" title="" data-original-title="{{category.cat_name}}">
                        {% else %}
                        <img src="{% static 'admin_assets/img/avatar/avatar-1.png' %}" class="rounded-circle" width="35" data-toggle="tooltip" title="" data-original-title="{{ category.name }}">
                        
                        {% endif %}
                    </td>
                    <td>
                        {{category.slug}}
                    </td>
                    <td>
                        {% if category.is_available %}<a href="#" class="btn btn-icon btn-success"><i class="fas fa-check"></i></a>
                        {% else %}<a href="#" class="btn btn-icon btn-danger"><i class="fas fa-times"></i></a> {% endif %}
                    </td>
                    <td><a href="{% url 'category_update' category.id %}" class="btn btn-warning">Update</a></td>
                    
                </tr>
                {% endfor %}
                
                
                </tbody></table>
            </div>
        </div>
        
    </div>
    
</div> 

{% endblock page_content %}

{% block custom_js %}

{% endblock custom_js %}