{% load static %}

<!--=============================================
	=            Header without topbar         =
	=============================================-->

	<header class="header header-without-topbar header-sticky">

		<!--=======  header bottom  =======-->

		<div class="header-bottom pt-md-40 pb-md-40 pt-sm-40 pb-sm-40">
			<div class="container wide">


				<!--=======  header bottom container  =======-->

				<div class="header-bottom-container">

					<!--=======  logo with off canvas  =======-->

					<div class="logo-with-offcanvas d-flex">



						<!--=======  logo   =======-->

						<div class="logo">
							<a href="{% url 'home' %}">
								<img src="{% static 'assets/images/rooted_logo.png' %}" class="img-fluid w-25" alt=""><span><h2>Rooted</h2></span>
							</a>
						</div>

						<!--=======  End of logo   =======-->
					</div>

					<!--=======  End of logo with off canvas  =======-->

					<!--=======  header bottom navigation  =======-->

					<div class="header-bottom-navigation">
						<div class="site-main-nav d-none d-lg-block">
							<nav class="site-nav center-menu">
								<ul>
									<li class="menu-item-has-children"><a href="{% url 'home' %}">Home</a></li>
									<li class="menu-item-has-children"><a href="{% url 'store' %}">Store</a></li>
									
									<li class="menu-item-has-children "><a href="javascript:void(0)">Blog</a></li>
								</ul>
							</nav>
						</div>
					</div>

					<!--=======  End of header bottom navigation  =======-->

					<!--=======  headeer right container  =======-->

					<div class="header-right-container">

						<!--=======  header right icons  =======-->

						<div class="header-right-icons d-flex justify-content-end align-items-center h-100">
							<!--=======  single-icon  =======-->

							<!--<div class="single-icon search">
								<a href="javascript:void(0)" id="search-icon">
									<i class="ion-ios-search-strong"></i> 
								</a> 
							</div>-->
							<div class="search-widget">
								<form action="{% url 'search' %}" method="GET">
									<input type="search" name="keyword" placeholder="Search ...">
									<button type="submit"><i class="ion-android-search"></i></button>
								</form>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->

							<div class="single-icon user-login">
								

								<div class="btn-group mb-2">
									<a class="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="ion-android-person"></i>
									</a>
									<div class="dropdown-menu" >
										{% if user.is_authenticated %}
										
										<a href="{% url 'dashboard' %}" class="dropdown-item has-icon">
										<i class="far fa-user"></i>  {{user.username | capfirst }}
										</a>
										<div class="dropdown-divider"></div>
										
										<a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
											<i class="fas fa-sign-out-alt"></i> Logout
										</a>
										
										{%else%}
										<div class="dropdown-title">Welcome</div>
										<div class="dropdown-title">To access account and manage order</div>
									
										<div class="dropdown-divider"></div>
										<a href="{% url 'login' %}" class="dropdown-item has-icon">
										<i class="fas fa-bolt"></i>Login/Register
										</a>
										{% endif %}
									</div>
								</div>
							</div>

							<!--=======  End of single-icon  =======-->
							{% if 'cart' in request.path %}
							
							<div class="header-right-icons  ">
								<div class="single-icon">
									<li class="dropdown dropdown-list-toggle single-icon"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep" aria-expanded="false"><i class="far fa-bell"></i></a>
										<div class="dropdown-menu dropdown-list dropdown-menu-right ">
										<div class="dropdown-header">Referral Coupons
											
										</div>
										<div class="dropdown-list-content dropdown-list-icons" tabindex="2" style="overflow: hidden; outline: none;">
											
										
											<div class="dropdown-item-icon bg-info text-white">
												<i class="fas fa-bell"></i>Available coupons
											</div>
											<div class=" align-center">
											<ul>
												{% for Coupon in coupons %}
												<li class="dropdown-item"> {{Coupon.code}} </li>
												{% endfor %}
											</ul>
											</div>
											

											
										</div>
										
										<div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="width: 9px; z-index: 1000; cursor: default; position: static; top: 58px; left: 341px; height: 350px; opacity: 0.3; display: none;"><div class="nicescroll-cursors" style="position: relative; top: 44px; float: right; width: 7px; height: 306px; background-color: rgb(241, 17, 17); border: 1px solid rgb(238, 10, 10); background-clip: padding-box; border-radius: 5px;"></div></div><div id="ascrail2001-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 9px; z-index: 1000; top: 399px; left: 0px; position: absolute; cursor: default; display: none; width: 341px; opacity: 0.3;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 7px; width: 350px; background-color: rgb(240, 11, 11); border: 1px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 5px; left: 0px;"></div></div></div>
									</li>
								</div>
								
							</div>
								
							
							{% endif %}
							<!--=======  single-icon  =======-->

							<div class="single-icon wishlist">
								<a href="javascript:void(0)" id="offcanvas-wishlist-icon">
									<i class="ion-android-favorite-outline"></i>
									<span class="count"> {{wishlist_count}} </span>
								</a>
							</div>

							<!--=======  End of single-icon  =======-->
							<!--=======  single-icon  =======-->
							{% if 'cart' not in request.path %}
							<div class="single-icon cart">
								<a href="javascript:void(0)" id="offcanvas-cart-icon">
									<i class="ion-ios-cart"></i>
									
									<span class="count" id="cart-list"> {{cart_count}} </span>
								</a>
							</div>
							{% endif %}
							<!--=======  End of single-icon  =======-->
						</div>
						<!--=======  End of header right icons  =======-->

					</div>

					<!--=======  End of headeer right container  =======-->


				</div>

				<!--=======  End of header bottom container  =======-->

				<!-- Mobile Navigation Start Here -->

				<div class="site-mobile-navigation d-block d-lg-none">
					<div id="dl-menu" class="dl-menuwrapper site-mobile-nav">
						<!--Site Mobile Menu Toggle Start-->
						<button class="dl-trigger hamburger hamburger--spin">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
						<!--Site Mobile Menu Toggle End-->
						<ul class="dl-menu dl-menu-toggle">
							<li class=""><a href="{% url 'home' %}">Home</a></li>

							<li><a href="#">Shop</a></li>
							<li><a href="#">Blog</a></li>
						</ul>
					</div>
				</div>

				<!-- Mobile Navigation End Here -->

			</div>
		</div>
		{%if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong> {{message}} </strong>
            </div>
        {% endfor %}
    {% endif %}


    <script>
        setTimeout(()=>{
            $(".alert").alert("close")
        }, 4000)
    </script>

		<!--=======  End of header bottom  =======-->
	</header>

	<!--===== End of Header without topbar ======-->
