
{% load static %}


    <!--=============================================
	=            overlay items         =
	=============================================-->

	<!--=======  newsletter overlay  =======-->


	<!--=======  End of newsletter overlay  =======-->

	<!--=======  about overlay  =======-->

	<div class="header-offcanvas about-overlay" id="about-overlay">
		<div class="overlay-close inactive"></div>
		<div class="overlay-content">

			<!--=======  close icon  =======-->

			<span class="close-icon" id="about-close-icon">
				<a href="javascript:void(0)">
					<i class="ti-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  overlay content container  =======-->

			<div class="overlay-content-container d-flex flex-column justify-content-between h-100">
				<!--=======  widget wrapper  =======-->

				<div class="widget-wrapper">
					<!--=======  single widget  =======-->

					<div class="single-widget">
						<h2 class="widget-title">About Us</h2>
						<p>At Lezada, we put a strong emphasis on simplicity, quality and usefulness of fashion products over other
							factors. Our fashion items never get outdated. They are not short-lived as normal fashion clothes.</p>
					</div>

					<!--=======  End of single widget  =======-->
				</div>

				<!--=======  End of widget wrapper  =======-->

				<!--=======  contact widget  =======-->

				<div class="contact-widget">
					<p class="email"><a href="mailto:contact@lezada.com">contact@lezada.com</a></p>
					<p class="phone">(+00) 123 567990</p>

					<div class="social-icons">
						<ul>
							<li><a href="http://www.twitter.com/" data-tippy="Twitter" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-twitter"></i></a></li>
							<li><a href="http://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-facebook"></i></a></li>
							<li><a href="http://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-instagram"></i></a></li>
							<li><a href="http://www.youtube.com/" data-tippy="Youtube" data-tippy-inertia="true"
									data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" target="_blank"><i
										class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
				</div>

				<!--=======  End of contact widget  =======-->
			</div>

			<!--=======  End of overlay content container  =======-->
		</div>
	</div>

	<!--=======  End of about overlay  =======-->


	<!--=======  wishlist overlay  =======-->

	<div class="wishlist-overlay" id="wishlist-overlay">
		<div class="wishlist-overlay-close inactive"></div>
		<div class="wishlist-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="wishlist-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas wishlist content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Wishlist</h3>

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						{% for item in wishlist_items %}
						<!--=======  single cart product  =======-->

						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="{{item.product.get_url}}">
									<img src="{{ item.product.images.url }}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="{{item.product.get_url}}"> {{item.product.product_name}} </a></h5>
								<p>
									{% if item.product.get_offer_percent %}
									<span class="main-price discounted">₹ {{item.product.price}} </span>
									<span class="discounted-price">₹ {{item.product.get_offer_price|floatformat:"0" }} </span>
									{% else %}
									<span class="discounted-price">₹ {{item.product.price}} </span>
									{% endif %}
								</p>
							</div>
						</div>

						<!--=======  End of single cart product  =======-->
						{% endfor %}
					</div>

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="{% url 'wishlist' %}">view wishlist</a>
					</div>

					<!--=======  End of cart buttons  =======-->
				</div>
			</div>

			<!--=======  End of offcanvas wishlist content container   =======-->
		</div>
	</div>

	<!--=======  End of wishlist overlay  =======-->

	<!--=======  cart overlay  =======-->

	<div class="cart-overlay" id="cart-overlay">
		<div class="cart-overlay-close inactive"></div>
		<div class="cart-overlay-content">
			<!--=======  close icon  =======-->

			<span class="close-icon" id="cart-close-icon">
				<a href="javascript:void(0)">
					<i class="ion-android-close"></i>
				</a>
			</span>

			<!--=======  End of close icon  =======-->

			<!--=======  offcanvas cart content container  =======-->

			<div class="offcanvas-cart-content-container">
				<h3 class="cart-title">Cart</h3>
				{% if not cart_items %}
					<h2 class="text-center d-block">Your cart is empty</h2>	
					<br style="display: none;">
					
					<div class="text-center d-block">
						<a href="{% url 'store' %}" class="btn btn-warning">Continue Shoping!</a>
						<div class="cart-buttons">
						<a class="btn btn-dark align-middle" href="{% url 'cart' %}">view cart</a>
					</div>
					</div>
					
				{% else %}

				<div class="cart-product-wrapper">
					<div class="cart-product-container  ps-scroll">
						<!--=======  single cart product  =======-->
						
						{% for item in cart_items %}
						<div class="single-cart-product">
							<span class="cart-close-icon">
								<a href="#"><i class="ti-close"></i></a>
							</span>
							<div class="image">
								<a href="{{item.product.get_url}}">
									<img src="{{ item.product.images.url }}" class="img-fluid" alt="">
								</a>
							</div>
							<div class="content">
								<h5><a href="{{item.product.get_url}}"> {{ item.product.product_name }}  </a></h5>
								<p>
									{% if item.product.get_offer_percent %}
									<span class="main-price discounted">₹ {{item.product.price}} </span>
									<span class="discounted-price">₹ {{item.product.get_offer_price|floatformat:"0" }} </span>
									{% else %}
									<span class="discounted-price">₹ {{item.product.price}} </span>
									{% endif %}
								</p>

							</div>
						</div>
						{% endfor %}
						<!--=======  End of single cart product  =======-->
					</div>

					<!--=======  subtotal calculation  =======-->

					<p class="cart-subtotal">
						<span class="subtotal-title">Subtotal:</span>
						<span class="subtotal-amount">₹  {{total}} </span>
					</p>

					<!--=======  End of subtotal calculation  =======-->

					<!--=======  cart buttons  =======-->

					<div class="cart-buttons">
						<a href="{% url 'cart' %}">view cart</a>
						<a href="{% url 'checkout' %}">checkout</a>
					</div>

					<!--=======  End of cart buttons  =======-->

					<!--=======  free shipping text  =======-->

					<p class="free-shipping-text">
						Free Shipping on All Orders Over ₹1000!
					</p>

					<!--=======  End of free shipping text  =======-->
				</div>
				{% endif %}
			</div>

			<!--=======  End of offcanvas cart content container   =======-->
		</div>
	</div>

	<!--=======  End of cart overlay  =======-->


	<!--=======  search overlay  =======-->

	<div class="search-overlay" id="search-overlay">

		<!--=======  close icon  =======-->

		<span class="close-icon search-close-icon">
			<a href="javascript:void(0)" id="search-close-icon">
				<i class="ti-close"></i>
			</a>
		</span>

		<!--=======  End of close icon  =======-->

		<!--=======  search overlay content  =======-->

		<div class="search-overlay-content">
			<div class="input-box">
				<form action="https://htmldemo.net/lezada/lezada/index.html">
					<input type="search" placeholder="Search Products...">
				</form>
			</div>
			<div class="search-hint">
				<span># Hit enter to search or ESC to close</span>
			</div>
		</div>

		<!--=======  End of search overlay content  =======-->
	</div>

	<!--=======  End of search overlay  =======-->

	<!--=====  End of overlay items  ======-->
