{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-2 pt-50 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					{% if 'search' in request.path %}
						<h1 class="breadcrumb-title">Search Result</h1>
						<span class="breadcrumb-list__item">{{product_count}} items found </span>
					{% elif 'category' in request.path %}
						<h1 class="breadcrumb-title"> {{categories}} </h1>
						<span class="breadcrumb-list__item">{{product_count}} items found </span>
					{% elif 'sort' in request.path %}
						<h1 class="breadcrumb-title"> Sorted Products </h1>
						<span class="breadcrumb-list__item">{{sort}} </span>
					
					{% elif 'filter-products' in request.path %}
						<h5 class="breadcrumb-title"> Price range: ₹{{min_price}} - ₹{{max_price}} </h5>
						<span class="breadcrumb-list__item">{{product_count}} items found </span>
					{% else %}
					<h1 class="breadcrumb-title">Store</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="{% url 'home' %}">HOME</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">PRODUCTS</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

	<!--=============================================
    =            shop page content         =
    =============================================-->

	<div class="shop-page-wrapper">

		<!--=======  shop page header  =======-->

		<div class="shop-page-header">
			<div class="container wide">
				<div class="row align-items-center">

					<div class="col-12 col-lg-7 col-md-10 d-none d-md-block">
						<!--=======  fitler titles  =======-->
						<div class="filter-title filter-title--type-two">
							<ul class="product-filter-menu">
								<li class="active" data-filter="*">All</li>
								<li data-filter=".hot">hot products</li>
								<li data-filter=".new" value="new" >new products</li>
								<li >sale products</li>
							</ul>
						</div>
						<!--=======  End of fitler titles  =======-->
					</div>

					<div class="col-12 col-lg-5 col-md-2">
						<!--=======  filter icons  =======-->

						<div class="filter-icons">
							<!--=======  filter dropdown  =======-->

							<div class="single-icon filter-dropdown">
								<select class="nice-select" name="sort_by" id="sort_by">
									<option value="default">Default sorting</option>
									<option value="popularity">Sort by popularity</option>
									<option value="rating">Sort by average rating</option>
									<option value="latest">Sort by latest</option>
									<option value="price_low_to_high">Sort by price: low to high</option>
									<option value="price_high_to_low">Sort by price: high to low</option>
								</select>
							</div>

							<!--=======  End of filter dropdown  =======-->

							<!--=======  grid icons  =======-->

							<div class="single-icon grid-icons">
								<a data-target="five-column" class="active" href="javascript:void(0)"><i
										class="ti-layout-grid4-alt"></i></a>
								<a data-target="four-column" href="javascript:void(0)"><i class="ti-layout-grid3-alt"></i></a>
								<a data-target="three-column" href="javascript:void(0)"><i class="ti-layout-grid2-alt"></i></a>
								<a data-target="list" href="javascript:void(0)"><i class="ti-view-list"></i></a>
							</div>

							<!--=======  End of grid icons  =======-->

							<!--=======  advance filter icon  =======-->

							<div class="single-icon advance-filter-icon">
								<a href="javascript:void(0)" id="advance-filter-active-btn"><i class="ion-android-funnel"></i>
									Filters</a>
							</div>
							
							<!--=======  End of advance filter icon  =======-->
						</div>

						<!--=======  End of filter icons  =======-->
					</div>

				</div>
			</div>
		</div>

		<!--=======  End of shop page header  =======-->

		<!--=============================================
        =            shop advance filter area         =
        =============================================-->

		<div class="shop-advance-filter-area" id="shop-advance-filter-area">
			<div class="shop-advance-filter-wrapper pt-50">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->
							<form id="sortForm" method="POST" action="{% url 'sort' %}">
							{% csrf_token %}
							<div class="single-filter-widget">
								<h2  class="single-filter-widget--title">Sort by</h2>
								<ul name="sort_by" id="sort_by" class="single-filter-widget--list">
									<li><a href="#" value="default">Default</a></li>
									<li><a href="#" value="popularity">Popularity</a></li>
									<li><a href="#" value="rating">Average rating</a></li>
									<li><a href="#" value="latest" >Newness</a></li>
									<li><a href="#" value="price_low_to_high" >Price: low to high</a></li>
									<li><a href="#" value="price_high_to_low" >Price: high to low</a></li>
									
								</ul>
							</div>

							</form>
							
							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-4 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Categories</h2>
								<ul class="single-filter-widget--list single-filter-widget--list--category">
									{% for category in links %}
										<li><a href="{{category.get_url}}"> {{category.cat_name}} </a> <span class="quantity"> {{category.product_set.count}} </span></li>
									{% endfor %}
								</ul>
							</div>

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-4 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->

							<!--<div class="single-filter-widget">
								<h2 class="single-filter-widget--title">Price filter</h2>
								<ul class="single-filter-widget--list">
									<li><a href="###" name="all" >All</a></li>
									<li><a href="#">$0.00 - $70.00</a></li>
									<li><a href="#">$70.00 - $140.00</a></li>
									<li><a href="#">$140.00 - $210.00</a></li>
									<li><a href="#">$210.00 - $280.00</a></li>
									<li><a href="#">$280.00 - $350.00</a></li>
								</ul>
							</div>-->

							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->


							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->


							<!--=======  End of single advance filte  =======-->
						</div>

						<div class="col-lg-2 col-md-4 col-sm-6 mb-50">
							<!--=======  single advance filte  =======-->


							<!--=======  End of single advance filte  =======-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--=====  End of shop advance filter area  ======-->

		<!--=============================================
		=            shop page content         =
		=============================================-->

		<div class="shop-page-content mt-100 mb-100">
			<div class="container wide">
				<div class="row">
					<div class="col-xl-3 col-lg-3 order-2 order-lg-1">
						<!--=======  page sidebar  =======-->

						<div class="page-sidebar">
							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<!--=======  search widget  =======-->

								<div class="search-widget">
									<form action="{% url 'search' %}" method="GET">
										<input type="search" name="keyword" placeholder="Search products ...">
										<button type="submit"><i class="ion-android-search"></i></button>
									</form>
								</div>

								<!--=======  End of search widget  =======-->
							</div>


							<!--=======  End of single sidebarwidget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<h2 class="single-sidebar-widget--title">Categories</h2>
								<ul class="single-sidebar-widget--list single-sidebar-widget--list--category">
									<li><a href="{% url 'store' %}">All..</a><span class="quantity"> {{products_set.count}} </span></li>
									{% for category in links %}
										<li><a href="{{category.get_url}}"> {{category.cat_name}} </a> <span class="quantity"> {{category.product_set.count}} </span></li>
									{% endfor %}
								</ul>
							</div>

							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget mb-40">
								<form id="filter-form" action="{% url 'filter_products' %}" method="POST">
									{% csrf_token %}
									<h2 class="single-sidebar-widget--title">Filters</h2>
									<div class="sidebar-price">
										<div id="price-range"></div>
										<div class="output-wrapper mt-20">
											<input type="text" id="price-amount" class="price-amount" readonly>
											<button type="submit" class="price-range-button"><i class="ion-android-funnel"></i> Filter</button>
										</div>
									</div>
									<!-- Hidden input fields to store min and max price values -->
									<input type="hidden" id="min-price" name="min_price">
									<input type="hidden" id="max-price" name="max_price">
								</form>
							</div>



							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->
							
								
									<div class="single-sidebar-widget mb-40">
										<h2 class="single-sidebar-widget--title">New Arrivals</h2>

										<!--=======  widget product wrapper  =======-->

										<div class="widget-product-wrapper">
											<!--=======  single widget product  =======-->
											{% if 'sort' or 'search' or 'filter' in request.path  %}
												{% for p in top_new_products %}
												<div class="single-widget-product-wrapper">
												<div class="single-widget-product">
													<!--=======  image  =======-->
													
													<div class="single-widget-product__image">
														<a href="shop-product-basic.html">
															<img src="{{p.images.url}}" class="img-fluid" alt="">
														</a>
													</div>
													

													<!--=======  End of image  =======-->

													<!--=======  content  =======-->

													<div class="single-widget-product__content">

														<div class="single-widget-product__content__top">
															<h3 class="product-title"><a href="shop-product-basic.html"> {{p.product_name}} </a></h3>
															<div class="price">
																<span class="main-price discounted">₹ {{p.old_price}}.00</span>
																<span class="discounted-price">₹ {{p.price}}.00</span>
															</div>
															<div class="rating">
																<i class="ion-android-star"></i>
																<i class="ion-android-star"></i>
																<i class="ion-android-star-outline"></i>
																<i class="ion-android-star-outline"></i>
																<i class="ion-android-star-outline"></i>
															</div>
														</div>

													</div>

													<!--=======  End of content  =======-->
												</div>
												</div>
												{% endfor %}	
											{% else %}
												{% for p in top_new_products %}
												<div class="single-widget-product-wrapper">
													<div class="single-widget-product">
														<!--=======  image  =======-->
														
														<div class="single-widget-product__image">
															<a href="shop-product-basic.html">
																<img src="{{p.images.url}}" class="img-fluid" alt="">
															</a>
														</div>
														

														<!--=======  End of image  =======-->

														<!--=======  content  =======-->

														<div class="single-widget-product__content">

															<div class="single-widget-product__content__top">
																<h3 class="product-title"><a href="shop-product-basic.html"> {{p.product_name}} </a></h3>
																<div class="price">
																	<span class="main-price discounted">₹ {{p.old_price}}.00</span>
																	<span class="discounted-price">₹ {{p.price}}.00</span>
																</div>
																<div class="rating">
																	<i class="ion-android-star"></i>
																	<i class="ion-android-star"></i>
																	<i class="ion-android-star-outline"></i>
																	<i class="ion-android-star-outline"></i>
																	<i class="ion-android-star-outline"></i>
																</div>
															</div>

														</div>

														<!--=======  End of content  =======-->
													</div>
												</div>
												{% endfor %}
											{% endif %}
											<!--=======  End of single widget product  =======-->
										</div>

										<!--=======  End of widget product wrapper  =======-->
									</div>
							
							<!--=======  End of single sidebar widget  =======-->

							<!--=======  single sidebar widget  =======-->

							<div class="single-sidebar-widget">
								<h2 class="single-sidebar-widget--title">Tags</h2>
								<!-- change to tags work on it -->
								<div class="tag-container">
									{% for link in links %}
									<a href="#"> {{link}} </a>
									{%endfor%}
								</div>
							</div>

							<!--=======  End of single sidebar widget  =======-->
						</div>

						<!--=======  End of page sidebar  =======-->
					</div>
					<div class="col-xl-9 col-lg-9 order-1 order-lg-2 mb-md-80 mb-sm-80">

						<div class="row product-isotope shop-product-wrap five-column">

							<!--=======  single product  =======-->
							{% if products %}
							{% for p in products %}
							<div class="col-12 col-lg-is-5 col-md-6 col-sm-6 mb-45 hot sale">
								<div class="single-product">
									<!--=======  single product image  =======-->
									
									<div class="single-product__image">
										<a class="image-wrap" href="{{p.get_url}}">
											<img src="{{ p.images.url }}" class="img-fluid" alt="">
											
										</a>

										<div class="single-product__floating-badges">
											{% if p.get_offer_percent %}
												<span class="onsale" > {{p.get_offer_percent|floatformat:"0"}}% </span>
											{% endif %}
											<!--<span class="hot">hot</span>-->
										</div>

										<div class="single-product__floating-icons">
											
											{% if p.id in wishlist_product_ids %}
												<span class="wishlist"><a href="{% url 'remove_from_wishlist' p.id %}" data-tippy="Add to wishlist" data-tippy-inertia="true"
													data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
													data-tippy-theme="sharpborder" data-tippy-placement="left">
													<i class="ion-android-favorite-outline" style="color: red;"></i></a>
												</span>
											{% else %}
												<span class="wishlist"><a href="{% url 'add_to_wishlist' p.id %}" data-tippy="Add to wishlist" data-tippy-inertia="true"
													data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
													data-tippy-theme="sharpborder" data-tippy-placement="left">
													<i class="ion-android-favorite-outline" ></i></a>
												</span>
											{% endif %}	

											
										</div>


									</div>

									<!--=======  End of single product image  =======-->

									<!--=======  single product content  =======-->

									<div class="single-product__content">
										<div class="title">
											<h3> <a href=""> {{ p.product_name }} </a></h3>
											<a href="{{p.get_url}}">Select options</a>
										</div>
										
										<div class="price">
											{% if p.get_offer_percent %}
											<span class="main-price discounted">₹ {{p.price}} </span>
											<span class="discounted-price">₹ {{p.get_offer_price|floatformat:"0"}} </span>
											{% else %}
											<span class="discounted-price">₹ {{p.price}} </span>
											{% endif %}
										</div>
									</div>

									<!--=======  End of single product content  =======-->
								</div>
								<div class="single-product--list">
									<!--=======  single product image  =======-->

									<div class="single-product__image">
										<a class="image-wrap" href="{{p.get_url}}">
											<img src="{{ p.images.url }}" class="img-fluid" alt="">
											
										</a>

										<div class="single-product__floating-badges">
											{% if p.discount > 0 %}
												<span class="onsale"> {{p.discount}}% </span>
											{% endif %}
											<!--<span class="hot">hot</span>-->
										</div>

										<div class="single-product__floating-icons">
											<span class="wishlist"><a href="#" data-tippy="Add to wishlist" data-tippy-inertia="true"
													data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
													data-tippy-theme="sharpborder" data-tippy-placement="bottom"><i
														class="ion-android-favorite-outline"></i></a></span>
										</div>


									</div>

									<!--=======  End of single product image  =======-->

									<!--=======  single product content  =======-->

									<div class="single-product__content">

										<div class="title">
											<h3> <a href="{{p.get_url}}"> {{p.product_name}} </a></h3>
										</div>
										<div class="price">
											<span class="main-price discounted">₹ {{p.price}} </span>
											<span class="discounted-price">₹ {{p.old_price}} </span>
										</div>
										<p class="short-desc"> {{ p.description }} </p>

										<a href="{{p.get_url}}" class="lezada-button lezada-button--medium">View deatails</a>

									</div>

									<!--=======  End of single product content  =======-->
								</div>
							</div>
							{% endfor %}
							{% else %}
							<div>
								<h2>No result found. Pleas try again !</h2>
							</div>
							{% endif %}
							<!--=======  End of single product  =======-->

							



						</div>
						
						<!--=======  pagination  =======-->
						
						{% if products.has_other_pages %}
						<div class="row">
							<div class="col-lg-12">
								

								<div class="pagination text-center">

									<ul >
										{% if product.has_previous %}
											<li class="active"><a href="#">1</a></li>
											<li class="page-item "><a class="page-link" href="?page={{ page_obj.previous_page_number }}"></a></li>
											
										{% endif %}

										{% for i in products.paginator.page_range %}
											{% if products.number == i %}
												<li class="page-item active"><a class="page-link" href="#"> {{i}} </a></li>
											{% else %}
												<li class="page-item"><a class="page-link" href="?page={{i}}"> {{i}} </a></li>
											{% endif %}
										{% endfor %}
										{% if product.has_next %}
											<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">NEXT</a></li>
											
										{% endif %}
									
									</ul>
					
								</div>

							</div>
						</div>
						{% endif %}
									
								<!--=======  End of pagination  =======-->
						
						
						
					

					</div>
				</div>
			</div>
		</div>

		<!--=====  End of shop page content  ======-->
	</div>

	<!--=====  End of shop page content  ======-->



{% endblock %}

{% block js %}

<script>
	//need corrections not properly working
$(document).ready(function() {
    // Initialize price range slider
    $("#price-range").slider({
        range: true,
        min: 50,
        max: 3500,
        values: [50, 3500],
        slide: function(event, ui) {
            $("#price-amount").val("Price: ₹" + ui.values[0] + " - ₹" + ui.values[1]);
        }
    });
    
    // Form submission event listener
    $("#filter-form").submit(function(event) {
        // Get the current minimum and maximum values of the price range slider
        var minPrice = $("#price-range").slider("values", 0);
        var maxPrice = $("#price-range").slider("values", 1);

        // Set the values of the hidden input fields
        $("#min-price").val(minPrice);
        $("#max-price").val(maxPrice);

        // Log minPrice and maxPrice to console
    });
});

    document.addEventListener("DOMContentLoaded", function () {
        var sortOptions = document.querySelectorAll('#sort_by a');

        sortOptions.forEach(function (option) {
            option.addEventListener('click', function (event) {
                event.preventDefault();
                var sortValue = option.getAttribute('value');
                var form = document.getElementById('sortForm');
                form.action = '{% url "sort" %}?sort_by=' + sortValue;
                form.submit();
            });
        });
    });



</script>

{% endblock js %}