{% extends 'partials/base_.html' %}
{% load static %}
{% block css %}

<style>
    body{margin-top:20px;
        
    background-color:#eee;
    }

    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
</style>
    
{% endblock css %}

{% block content %}
    <div class="order-tracking-area mb-1 mt-130">
		
        <div class="container ">
            <div class="row">
                <div class=" col-lg-10 col-md-10 col-12 offset-lg-1 offset-md-1">
                    <div class="card p-5">
                        <div class="card-body">
                            <div class="row d-flex justify-content-between">
                                <div class="invoice-title jsuti">
                                    <h4 class="float-end font-size-15">{{payment.payment_id}} {% if payment.payment_method == 'cash' %} <span class="badge bg-success font-size-12 ms-2">Cash On Delivery</span> {% else %}<span class="badge bg-success font-size-12 ms-2">Razorpay</span>{% endif %} </h4>
                                    <div class="mb-4">
                                    <img style="width: 10cap;" src="{%static 'images/rooted-high-resolution-logo-transparent.png' %}" alt="">
                                    </div>
                                </div>
                                <div>
                                    <h1> INVOICE </h1>
                                </div>
                                <div class="text-muted">
                                    <p class="mb-1">3184 Rooted Store, PA 15201</p>
                                    <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> xyz@987.com</p>
                                    <p><i class="uil uil-phone me-1"></i> 012-345-6789</p>
                                </div>

                            </div>
                            
                            <hr class="my-4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="text-muted">
                                        <h5 class="font-size-16 mb-3">Billed To:</h5>
                                        <h5 class="font-size-15 mb-2"> {{order.full_name}} </h5>
                                        <p class="mb-1"> {{order.address_line_1}} </p>
                                        <p class="mb-1"> {{order.address_line_2}} </p>
                                        <p class="mb-1"> PIN: {{order.pin_code}} </p>
                                        <p>ph: {{order.phone}} </p>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="text-muted text-sm-end">
                                        <div class="mt-4 d-flex justify-space-between align-items-center flex-wrap">
                                            <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                            <p> {{payment.payment_id}} </p>
                                        </div>
                                        <div class="mt-4 d-flex justify-space-between align-items-center flex-wrap">
                                            <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                            <p> {{order.created_at}} </p>
                                        </div>
                                        <div class="mt-4 d-flex justify-space-between align-items-center flex-wrap">
                                            <h5 class="font-size-15 mb-1">Order No:</h5>
                                            <p> {{order.order_number}} </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                            
                            <div class="py-2">
                                <h3 class="text-center b-3 m-3">Order Summary</h3>

                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th style="width: 70px;"></th>
                                                <th>Item</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th class="text-end" style="width: 120px;">Total</th>
                                            </tr>
                                        </thead><!-- end thead -->
                                        <tbody>
                                            {% for item in order_detail %}
                                                <tr>
                                                    <th scope="row"></th>
                                                    <td>
                                                        <div>
                                                            <h5 class="text-truncate font-size-14 mb-1"> {{item.product.product_name}} </h5>
                                                            {% if item.variations.all %}
                                                                {% for var in item.variations.all %}
                                                                <p class="product-variation">{{var.variation_category| capfirst}} : {{var.variation_value| capfirst}}</p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>₹ {{item.product_price}} </td>
                                                    <td> {{item.quantity}} </td>
                                                    <td class="text-end">₹ {{item.item_total}} </td>
                                                </tr>
                                
                                            {% endfor %}
                                            <!-- end tr -->
                                            
                                            <tr>
                                                <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                                <td class="text-end">₹ {{subtotal|floatformat:'2'}} </td>
                                            </tr>

                                            <!-- end tr -->
                                            <tr>
                                                <th scope="row" colspan="4" class="border-0 text-end">
                                                    Shipping Charge :</th>
                                                    <p>Free shipping order > ₹1000</p>
                                                <td class="border-0 text-end">₹ {{shipping_fee}} </td>
                                            </tr>
                                            <!-- end tr -->
                                            <tr>
                                                <th scope="row" colspan="4" class="border-0 text-end">
                                                    Tax (2%)</th>
                                                <td class="border-0 text-end">₹ {{tax|floatformat:'2'}} </td>
                                            </tr>
                                            <!-- end tr -->
                                            <tr>
                                                <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                                <td class="border-0 text-end"><h4 class="m-0 fw-semibold">₹ {{grand_total|floatformat:'2'}} </h4></td>
                                            </tr>
                                            <!-- end tr -->
                                        </tbody><!-- end tbody -->
                                    </table><!-- end table -->
                                </div><!-- end table responsive -->
                                <div class="d-print-none mt-4">
                                    <div class="float-end">
                                        <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                    </div>
                                    <div class="float-end">
                                        <a href="{% url 'generate_invoice_pdf' order.order_number %}" class="btn btn-success me-1">Download</a>
                                    </div>

                                    
                                </div>    
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
        </div>
	</div>
{% endblock content %}
