{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Payments</h1>

					<!--=======  breadcrumb list  =======-->
                    <p>Review your order and make payment</p>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="{% url 'home' %}">HOME</a></li>
						<li class="breadcrumb-list__item"> <a href="{% url 'place_order' %}"> Place Order</a></li>
                        
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Payments</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

<div class="container">
    <div class="row">
        
        <div class="col-12 col-md-7 col-lg-7 ">
            <div class="card">
                <div class="card-header">
                    <h4><b><u>Billing Details</u></b></h4>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Billing Address</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <p>{{order.first_name}} {{order.last_name}} </p>
                                <p>{{order.address_line_1}}</p>
                                <p>{{order.address_line_1}}</p>
                                <p>{{order.city}}</p>
                                <p>{{order.state}}</p>
                                <p>{{order.country}}</p>
                                {% if order.pin_code %}
                                <p>PIN: {{order.pin_code}}</p>
                                {% endif %}
                                <p>Mail Id: {{order.email}}</p>
                                <p>Phone:{{order}} {{order.phone}}</p>
                                {% if order.order_note %}
                                <p>Order note: {{order.order_note}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Payment Method</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <p> {{order.payment.payment_method}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Review Products</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <div class="cart-table-container">
						
                                    <table class="cart-table">
                                        <thead>
                                            <tr>
                                                <th class="product-name" colspan="2">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        
                                            <tbody>
                                                {% for item in order_products %}
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a href="{{item.product.geturl}}">
                                                            <img src=" {{ item.product.images.url }}" class="img-fluid" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="{{item.product.geturl}}"> {{ item.product.product_name }} </a>
                                                        
                                                        {% if item.variations.all %}
                                                            {% for var in item.variations.all %}
                                                            <span class="product-variation"></span>{{var.variation_category| capfirst}} : {{var.variation_value| capfirst}}</span><br> 
                                                            {% endfor %}
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td class="product-price" style="white-space: nowrap; overflow: hidden;"><span class="price">₹ {{ item.product_price|floatformat:"2" }} </span></td>
                                                    <td class="product-quantity">
                                                        <p>{{ item.quantity }}</p>
                                                        
                                                    </td>
                                                    <td class="total-price">
                                                        <span class="price" style="white-space: nowrap; overflow: hidden;">₹ {{item.item_total|floatformat:"2"}} </span>
                                                    </td>

                                                </tr>
                                                {% endfor %}


                                                
                                            </tbody>	
                                            
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>

        </div>

        <div class="col-lg-5">
            <div class="row">

                <!-- Cart Total -->
                <div class="col-12 mb-60">

                    <h4 class="checkout-title">Cart Total</h4>

                    <div class="checkout-cart-total">

                        <h4>Product <span>Total</span></h4>
                        {% for item in order_products %}
                        <ul>
                            
                            <li>{{item.product.product_name}}  X {% if item.quantity < 10 %}0{{ item.quantity }}{% else %}{{ item.quantity }}{% endif %} <span>₹ {{item.item_total|floatformat:"2"}} </span></li>
                            
                        </ul>
                        {% endfor %}
                        <p>Sub Total <span>₹ {{total|floatformat:"2"}} </span></p>
                        <p>Shipping Fee <span>₹ {{shipping_fee|floatformat:"2"}} </span></p>
                        <p>GST <span>₹ {{tax|floatformat:"2"}} </span></p>
                        {% if order.coupon %}
                        <p>Referal/Coupon Discounts <span>₹ {{discount_amount|floatformat:"2"}} </span></p>
                        {% endif %}
                        <h4>Grand Total <span>₹ {{grand_total|floatformat:"2"}} </span></h4>

                    </div>

                </div>
                <!-- Payment Method -->
                <div class="col-12 checkout-cart-total">
                    
                        
                    <div class="payment-icon mb-60 d-flex justify-content-center">
                        <img src="/static/assets/images/icons/pay.png" class="img-fluid" alt="">
                    </div>
                    {% if payment_method == 'razorpay' %}
                     <form action="{% url 'rozer_payments' %}" method="POST">
                        {% csrf_token %}
                        <div class="check-box d-flex justify-content-center">
                            <input type="checkbox" id="cod" name="payment_method" required>
                            <label for="cod">Confirm Payment</label>
                        </div>
                        <div class="d-flex justify-content-center">
                                    
                            <button type="submit" id="pay-btn" name="submit" class="lezada-button lezada-button--medium mt-30 payWithRazor">Pay with Razorpay</button>
                        </div>
                     </form>
                     {% elif payment_method == 'wallet' %}
                     <form action="{% url 'wallet_payments' %}" method="POST">
                        {% csrf_token %}
                        <div class="check-box d-flex justify-content-center">
                            <input type="checkbox" id="wallet" name="payment_method" required>
                            <label for="wallet">Confirm Pay using wallet </label>
                        </div>
                        <div class="d-flex justify-content-center">    
                            <button type="submit" id="pay-btn" name="submit" class="lezada-button lezada-button--medium mt-30 payWithRazor">Pay with Wallet</button>
                        </div>
                     </form>
                    
                    {% else %}
                        <form action="{% url 'payments' %}" method="POST">
                            {% csrf_token %}
                            <div class="check-box">
                                <input type="checkbox" id="cod" name="payment_method" required>
                                <label for="cod">Confirm COD</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                
                                <button type="submit" name="submit" class="lezada-button lezada-button--medium mt-30 ">Confirm Checkout</button>
                            </div>
                        </form>
                        
                    {% endif %}
                                        
                </div>

            </div>
        </div>

    </div>
</div>
    



{% endblock content %}


{% block js %}



{% endblock js %}