{% extends 'partials/base.html' %}
{% load static %}

{% block css %}
<style>
    body{margin-top:20px;
    background-color:#eee;
    
    /* Set the background image */
    background-image: url('{% static "payment.jpg" %}');
    /* Adjust background properties */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    /* You can also add more properties like background-repeat if needed */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust alpha value (0.5 means 50% opacity) */

    }    
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
</style>

{% endblock css %}

{% block content %}
	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Payment processing ... </h1>

					<!--=======  breadcrumb list  =======-->
                    <p>Review your order and make payment</p>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="{% url 'home' %}">HOME</a></li>
						<li class="breadcrumb-list__item"> <a href="{% url 'place_order' %}"> Place Oredr</a></li>
                        <li class="breadcrumb-list__item"> <a href="#"> Payments</a></li>
                        
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Payment processing</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->





<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{ amount }}", 
        currency: "INR",
        name: "{{name}}",
        description: "Test Transaction",
        image: "{% static 'images/root_logo.png' %}",
        order_id: "{{ rozer_order_id }}",
        callback_url: "{% url 'callback' %}",
        redirect: false,
        prefill: {
            "name": "Afeef",
            "email": "rooted.stores@example.com",
            "contact": "9999999999"
        },
        notes: {
            "address": "Razorpay Corporate Office"
        },
        
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
    <input type="hidden" custom="Hidden Element" name="order_number" value = {{order.order_number}}>
</form>

{% endblock %}












