{% extends 'partials/base.html' %}
{% load static %}


{% block content %}



	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Place Order</h1>

					<!--=======  breadcrumb list  =======-->

					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="{% url 'home'}">HOME</a></li>
						<li class="breadcrumb-list__item"><a href="{% url 'cart' %}">cart</a></li>
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Place Order</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

	<!--=============================================
	=            checkout page content         =
	=============================================-->

	<div class="checkout-page-area mb-130">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4 class="checkout-title">Billing Address</h4>
					<div class="lezada-form">
						<!-- Checkout Form s-->
						<form action="{% url 'place_order' %}" method="POST"  class="checkout-form">
						{% csrf_token %}
							<div class="row row-40">
								
								<div class="col-lg-7 mb-20">
									<div class="scrollable-container" style=" height: 400px; overflow-x: auto;white-space: nowrap;">
										<div class="container ">
											<div class="row">
												{% for i in address %}
												<div class="col-12 col-md-6 col-lg-6 mb-4"  style="display: inline;">
													<div class="card">
														<div class="card-header">
															<div class="single-method">
																<input type="radio" id="{{i.id}}" name="address_method" value="{{i.id}}" required>
																<label for="{{i.id}}">Delever Here</label>
																<p data-method="{i.id}">To ship to this address, please select it!</p>
															</div>
															<h4>{{i.full_name}}</h4>
														</div>

														<div class="card-body">
															<p>{{i.address_line_1}}</p>
															<p>{{i.address_line_2}}</p>
															
														</div>
														<div class="card-footer">
															<a href="#" class="check-btn sqr-btn" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="false" aria-controls="collapse{{i.id}}"><i class="fa fa-add"></i> Show more</a>
														</div>
														<div id="collapse{{i.id}}" class="collapse">
															<!-- Collapsible content here -->
															<div class="mb-3">
																<p><b>City: </b> {{i.city}}</p>
																<p><b>State: </b> {{i.state}} </p> 
																<p><b>Country: </b> {{i.country}} </p>
															</div>
															<div class="mb-3">
																<p><b>Email: </b> {{i.email}} </p>
																<p><b>Mobile: </b>{{i.phone}}</p>  
															</div>
															<p><b>PIN: </b> {{i.pin_code}}</p>
															<!-- You can put any content you want to be collapsed here -->
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
									


									<!-- Billing Address -->
									<div id="billing-form" class="mb-40">
										
										
										<div class="single-method">
											<input type="radio" id="new_address" name="address_method" value="new_address" required>
											<label for="new_address">SHIP TO DIFFERENT ADDRESS</label>
											<p data-method="new_address">For ship to new address !! and fill the form below </p>
										</div>
										
										

										<div class="row">

											<div class="col-md-6 col-12 mb-20">
												<label>First Name*</label>
												<input type="text" placeholder="First Name" name="first_name">
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>Last Name*</label>
												<input type="text" placeholder="Last Name" name="last_name" >
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>Email Address*</label>
												<input type="email" placeholder="Email Address" name="email" >
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>Phone no*</label>
												<input type="text" placeholder="Phone number" name="phone" >
											</div>

											<!--<div class="col-12 mb-20">
												<label>Company Name</label>
												<input type="text" placeholder="Company Name">
											</div>-->

											<div class="col-12 mb-20">
												<label>Address*</label>
												<input type="text" placeholder="Address line 1" name="address_line_1" >
												<input type="text" placeholder="Address line 2" name="address_line_2" >
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>Country*</label>
												<select class="nice-select" name="country" >
													<option>India</option>
													<option>Qatar</option>
													<option>Japan</option>
													<option>Turkey</option>
													<option>Thailand</option>
													<option>UK</option>
													<option>US</option>
													<option>India</option>
													<option>UAE</option>
													<option>China</option>
													
												</select>
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>Town/City*</label>
												<input name="city" type="text" placeholder="Town/City" >
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>State*</label>
												<input name="state" type="text" placeholder="State" >
											</div>

											<div class="col-md-6 col-12 mb-20">
												<label>pin Code*</label>
												<input name="pin_code" type="text" placeholder="pin Code" >
											</div>
											<div class="col-12 mb-20">
												<label>Order Note</label>
												<input type="text" placeholder="Order note (optional)" name="order_note">
												
											</div>
											<div class="col-12 mb-20">
												<div class="check-box">
													<input type="checkbox" id="save_address" name="save_address">
													<label for="save_address">Save Address?</label>
												</div>
												
											</div>

										</div>

									</div>

									
								</div>

								<div class="col-lg-5">
									<div class="row">

										<!-- Cart Total -->
										<div class="col-12 mb-60">

											<h4 class="checkout-title">Cart Total</h4>

											<div class="checkout-cart-total">

												<h4>Product <span>Total</span></h4>
												{% for item in cart_items %}
												<ul>
													
													<li>{{item.product.product_name}}  X {% if item.quantity < 10 %}0{{ item.quantity }}{% else %}{{ item.quantity }}{% endif %} <span>₹ {{item.item_total}} </span></li>
													
												</ul>
												{% endfor %}
												<p>Sub Total <span>₹ {{total}} </span></p>
												<p>Shipping Fee <span>₹ {{shipping_fee}} </span></p>
												<p>GST <span>₹ {{tax}} </span></p>

												<h4>Grand Total <span>₹ {{grand_total}} </span></h4>

											</div>

										</div>

										<!-- Payment Method -->
										<div class="col-12">

											<h4 class="checkout-title">Payment Method</h4>

											<div class="checkout-payment-method">

												<!--<div class="single-method">
													<input type="radio" id="payment_check" name="payment-method" value="check" >
													<label for="payment_check">Check Payment</label>
													<p data-method="check">Currently, the only acceptable payment method is PayPal. Please cooperate with us..</p>
												</div>-->

												<!--<div class="single-method">
													<input type="radio" id="payment_bank" name="payment-method" value="bank">
													<label for="payment_bank">Direct Bank Transfer</label>
													<p data-method="bank">Currently, the only acceptable payment method is PayPal. Please cooperate with us.</p>
												</div>-->
												
												<!--<div class="single-method">
													<input type="radio" id="payment_payoneer" name="payment-method" value="payoneer">
													<label for="payment_payoneer">Payoneer</label>
													<p data-method="payoneer">Currently, the only acceptable payment method is PayPal. Please cooperate with us.</p>
												</div>-->

												<div class="single-method">
													<input type="radio" id="payment_cash" name="payment-method" value="cash" required>
													<label for="payment_cash">Cash on Delivery</label>
													<p data-method="cash">Currently, the only acceptable payment method is RazorPay and Cash on Delivered. Please cooperate with us.</p>
												</div>

												<div class="single-method">
													<input type="radio" id="payment_razorpay" name="payment-method" value="razorpay" required>
													<label for="payment_razorpay">RazorPay</label>
													<p data-method="cash">Currently, the only acceptable payment method is RazorPay and Cash on Delivered. Please cooperate with us.</p>
												</div>

												

												<div class="single-method">
													<input type="checkbox" id="accept_terms" name="accept_terms" required>
													<label for="accept_terms">I’ve read and accept the terms & conditions</label>
												</div>
												
												
											</div>
										</div>	

									
									</div>
									<div class="container">
										<div class="row justify-content-center">
											<div class="col-12 col-md-6">
												<button type="submit" name="submit" class="lezada-button lezada-button--medium mt-30 btn btn-primary btn-block">Confirm order</button>
											</div>
										</div>
									</div>

									
								</div>
								
							</div>
							
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--=====  End of checkout page content  ======-->

{% endblock %}


{% block js %}


{% endblock js %}