{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
	<!--=======  breadcrumb area =======-->

	<div class="breadcrumb-area breadcrumb-bg-1 pt-50 pb-70 mb-130">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="breadcrumb-title">Payments</h1>

					<!--=======  breadcrumb list  =======-->
                    <p>Review your order and make payment</p>
					<ul class="breadcrumb-list">
						<li class="breadcrumb-list__item"><a href="{% url 'home' %}">HOME</a></li>
						<li class="breadcrumb-list__item"> <a href="{% url 'place_order' %}"> Place Order</a></li>
                        
						<li class="breadcrumb-list__item breadcrumb-list__item--active">Payments</li>
					</ul>

					<!--=======  End of breadcrumb list  =======-->

				</div>
			</div>
		</div>
	</div>

	<!--=======  End of breadcrumb area =======-->

<div class="container">
<form action="">
    <div class="row">
        
        <div class="col-12 col-md-7 col-lg-7 ">
            <div class="card">
                <div class="card-header">
                    <h4><b><u>Billing Details</u></b></h4>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Billing Address</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">

                                <div  class="row">

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>First Name*</label>
                                        <input type="text" placeholder="First Name" name="first_name" value="{{data.first_name}}" readonly>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Last Name*</label>
                                        <input type="text" placeholder="Last Name" name="last_name" value="{{data.last_name}}" readonly>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Email Address*</label>
                                        <input type="email" placeholder="Email Address" name="email" value="{{data.email}}" readonly>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Phone no*</label>
                                        <input type="text" placeholder="Phone number" name="phone" value="{{data.phone}}" readonly>
                                    </div>

                                    <!--<div class="col-12 mb-20">
                                        <label>Company Name</label>
                                        <input type="text" placeholder="Company Name">
                                    </div>-->

                                    <div class="col-12 mb-20">
                                        <label>Address*</label>
                                        <input type="text" placeholder="Address line 1" name="address_line_1" value="{{data.address_line_1}}" readonly>
                                        <input type="text" placeholder="Address line 2" name="address_line_2" value="{{data.address_line_1}}" readonly>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Country*</label>
                                        <input type="text" name="country" value="{{data.country}}" readonly>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Town/City*</label>
                                        <input name="city" type="text" placeholder="Town/City"  value="{{data.country}}" readonly >
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>State*</label>
                                        <input name="state" type="text" placeholder="State" >
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>pin Code*</label>
                                        <input name="pin_code" type="text" placeholder="pin Code" >
                                    </div>
                                    <div class="col-12 mb-20">
                                        <label>Order Note</label>
                                        <input type="text" placeholder="Order note (optional)" name="order_note">
                                        
                                    </div>
                                    <div class="col-12 mb-20">
                                        <div class="check-box">
                                            <input type="checkbox" id="save_address" name="save_address">
                                            <label for="save_address">Save Address?</label>
                                        </div>
                                        
                                    </div>

                                </div>

                                <p>  </p>
                                <p></p>
                                <p>{{data.address_line_1}}</p>
                                <p>{{data.city}}</p>
                                <p>{{data.state}}</p>
                                <p></p>
                                {% if data.pin_code %}
                                <p>PIN: {{data.pin_code}}</p>
                                {% endif %}
                                <p>Mail Id: {{data.email}}</p>
                                <p>Phone: {{data.phone}}</p>
                                {% if data.order_note %}
                                <p>Order note: {{data.order_note}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Payment Method</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <p> PayPal </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="accordion">
                        <div class="accordion">
                            <div class="accordion-header" role="button" data-toggle="collapse" data-target="#panel-body-1" aria-expanded="true">
                                <h4><b>Review Products</b></h4>
                            </div>
                            <div class="accordion-body collapse show" id="panel-body-1" data-parent="#accordion">
                                <div class="cart-table-container">
						
                                    <table class="cart-table">
                                        <thead>
                                            <tr>
                                                <th class="product-name" colspan="2">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        
                                            <tbody>
                                                {% for item in cart_items %}
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a href="{{item.product.geturl}}">
                                                            <img src=" {{ item.product.images.url }}" class="img-fluid" alt="">
                                                        </a>
                                                    </td>
                                                    <td class="product-name">
                                                        <a href="{{item.product.geturl}}"> {{ item.product.product_name }} </a>
                                                        
                                                        {% if item.variations.all %}
                                                            {% for var in item.variations.all %}
                                                            <span class="product-variation"></span>{{var.variation_category| capfirst}} : {{var.variation_value| capfirst}}</span><br> 
                                                            {% endfor %}
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td class="product-price"><span class="price">₹ {{ item.product.get_offer_price }} </span></td>
                                                    <td class="product-quantity">
                                                        <p>{{ item.quantity }}</p>
                                                        
                                                    </td>
                                                    <td class="total-price">
                                                        <span class="price">₹ {{item.item_total}} </span>
                                                    </td>

                                                </tr>
                                                {% endfor %}


                                                
                                            </tbody>	
                                            
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>

        </div>

        <div class="col-lg-5">
            <div class="row">

                <!-- Cart Total -->
                <div class="col-12 mb-60">

                    <h4 class="checkout-title">Cart Total</h4>

                    <div class="checkout-cart-total">

                        <h4>Product <span>Total</span></h4>
                        {% for item in cart_items %}
                        <ul>
                            
                            <li>{{item.product.product_name}}  X {% if item.quantity < 10 %}0{{ item.quantity }}{% else %}{{ item.quantity }}{% endif %} <span>₹ {{item.item_total}} </span></li>
                            
                        </ul>
                        {% endfor %}
                        <p>Sub Total <span>₹ {{total}} </span></p>
                        <p>Shipping Fee <span>₹ {{shipping_fee}} </span></p>
                        <p>GST <span>₹ {{tax}} </span></p>

                        <h4>Grand Total <span>₹ {{grand_total}} </span></h4>

                    </div>

                </div>
                <!-- Payment Method -->
                <div class="col-12 checkout-cart-total">
                    
                        
                    <div class="payment-icon mb-60 d-flex justify-content-center">
                        <img src="/static/assets/images/icons/pay.png" class="img-fluid" alt="">
                    </div>
                    
                        <div class="check-box d-flex justify-content-center">
                            <input type="checkbox" id="cod" name="cod" required>
                            <label for="cod">Confirm Payment</label>
                        </div>
                        <div class="d-flex justify-content-center">
                                    
                            <button type="submit" id="pay-btn" name="submit" class="lezada-button lezada-button--medium mt-30 payWithRazor">Pay with Razorpay</button>
                        </div>
                        
                                                                    
                </div>

            </div>
        </div>

    </div>

</form>

</div>
    


{% if rozer_order_id %}
<form action="success" method="POST">

    <script src="https://checkout.razorpay.com/v1/checkout.js"
        data-key =  "{{razorpay_key}}"
        data-amount="{{ amount }}"
        data-currency="INR"
        data-name="{{name}}"
        data-description="Test Transaction"
        data-image="{% static 'images/root_logo.png' %}"
        data-order_id="{{ rozer_order_id }}"
        data-prefill.name="Afeef"
        data-prefill.email="rooted.stores@example.com",
        data-prefill.contact="9999999999"
        data-theme-color="#F37254"
    
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endif %}

{% endblock content %}


{% block js %}



{% endblock js %}