{% load static %}
  <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          
        </form>
        <ul class="navbar-nav navbar-right">
          
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="{{user.profile_pic.url}}" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block">Hi, {{ user.username }} </div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title">Logged in 5 min ago</div>
              <a href="features-profile.html" class="dropdown-item has-icon">
                <i class="far fa-user"></i> Profile
              </a>
              <a href="features-activities.html" class="dropdown-item has-icon">
                <i class="fas fa-bolt"></i> Activities
              </a>
              <a href="features-settings.html" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'admin_logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html"><img src="{% static 'assets/images/rooted_icon.png'%}" alt="" style=" height: 60px;"> Rooted</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="#"><img src="{% static 'assets/images/rooted_icon.png'%}" alt="" style=" height: 60px;"></a>
          </div>
          <ul class="sidebar-menu">
            
            <li class="menu-header">Dashboard</li>
            {% url 'category_list' as category_list %}
            {% url 'category_create' as category_create %}
            {% url 'category_update' id as category_update %}
            <li class="dropdown {% if request.path == category_list %} active {% endif %} {% if request.path == category_update %} active {% endif %}{% if request.path == category_create %} active {% endif %} ">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Category</span></a>
              <ul class="dropdown-menu">
                <li class= " {% if request.path == category_list  %} active {% endif %} {% if request.path == category_update%} active {% endif %}"><a class="nav-link" href="{% url 'category_list' %}">All Categories </a></li>
                <li class="{% if request.path == category_create %} active {% endif %}" ><a class="nav-link" href=" {% url 'category_create' %} ">Add Categories</a></li>
              </ul>
            </li>

            <!--  user manu -->
            
            {% url 'user_create' as user_create %}
            {% url 'users_list' as user_list %}
            {% url 'user_update' as user_update %}
            <li class="dropdown {% if request.path == user_create %} active {% endif %}{% if request.path == user_list %} active {% endif %}{% if request.path == user_update %} active {% endif %}">
              <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i><span>Users</span></a>
              <ul class="dropdown-menu">
                <li class="{% if request.path == user_list %} active {% endif %} {% if request.path == user_update %} active {% endif %}" ><a class="nav-link" href=" {% url 'users_list' %} ">Users List</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li class="{% if request.path == user_create %} active {% endif %}" ><a class="nav-link" href=" {% url 'user_create' %} ">Create Users</a></li>
              </ul>
            </li>
            
            {% url 'add_product' as add_product %}
            {% url 'products_list' as product_list %}
            {% url 'product_update' as product_update %}
            {% url 'variations_list' as variations_list %}
            {% url 'add_variations' as add_variations %}
            
            <li class="dropdown {% if request.path == add_product %} active {% endif %}{% if request.path == product_list %} active {% endif %}{% if request.path == product_update %} active {% endif %} {% if request.path == add_variations %} active {% endif %} {% if request.path == variations_list %} active {% endif %}">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i><span>Products</span></a>
              <ul class="dropdown-menu">
                <li class="{% if request.path == product_list %} active {% endif %} {% if request.path == product_update %} active {% endif %}" ><a class="nav-link" href=" {% url 'products_list' %} ">Product List</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li class="{% if request.path == add_product %} active {% endif %}" ><a class="nav-link" href=" {% url 'add_product' %} ">Add Product</a></li>
              </ul>
              <!-- Variations -->
              <ul class="dropdown-menu">
                <li class="{% if request.path == variations_list %} active {% endif %}" ><a class="nav-link" href=" {% url 'variations_list' %} ">View Products variations</a></li>
              </ul>
              <ul class="dropdown-menu">
                <li class="{% if request.path == add_variations %} active {% endif %}" ><a class="nav-link" href=" {% url 'add_variations' %} ">Add Products variations</a></li>
              </ul>
            </li>
            
          </ul>

          <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="{% url 'admin_logout' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </aside>
      </div>
    </div>