{% extends 'customadmin/admin_base.html' %}
{% load static %}


<h2>Payment details</h2>

{% block title %}
Payment details
{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Payment details
{% endblock page_title %}

{% block page_content %}
<div class="row">    

    <div class="card col-lg-12">
        <div class="card-header">
            <h4>Payment details</h4>
        
            <!--<div class="card-header-form">
                <form id="date_filter_form">
                    <div class="input-group">
                        <input type="date" class="form-control" id="start_date" name="start_date">
                        <input type="date" class="form-control" id="end_date" name="end_date">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </form>
            </div>-->
        </div>
        
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">
                <tbody>
                <tr>
                    <th>TransID </th>
                    <th>Billing Name</th>
                    <th>Method</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Update</th>
                    
                </tr>
                {% for payment in payments %}
                <tr>
                    <td> {{payment.payment_id|slice:5}}... </td>
                    <td> {{payment.order_set.first.full_name}} </td>
                    <td>
                        {{payment.payment_method}}
                    </td>
                    <td>₹ {{payment.amount_paid|floatformat:"2"}} </td>
                    <!--<td> {{payment.created_at|date:"F j, Y" }} </td>-->
                    <td> 
                        {% if payment.status == 'SUCCESS' %}<span class="badge badge-success">SUCCESS</span>{% endif %}
                        {% if payment.status == 'REFUND' %} <span class="badge badge-secondary">REFUND</span>{% endif %}
                        {% if payment.status == 'PENDING' %} <span class="badge badge-primary">PENDING</span>{% endif %}
                        {% if payment.status == 'FAILURE' %} <span class="badge badge-danger">FAILURE</span>{% endif %}
                    </td>
                    <td><a href="{% url 'payment_update' payment.id %}" class="btn btn-warning">Update</a></td>
                </tr>
                {% endfor %}
                
                
                </tbody></table>
            </div>
        </div>
        
    </div>
    
</div> 

{% endblock page_content %}

{% block custom_js %}
<script>
    document.getElementById('date_filter_form').addEventListener('submit', function(event) {
        event.preventDefault();
        var startDate = document.getElementById('start_date').value;
        var endDate = document.getElementById('end_date').value;
        filterPayments(startDate, endDate);
    });

    function filterPayments(startDate, endDate) {
        var rows = document.getElementById('payment_table').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            var paymentDate = new Date(rows[i].querySelector('td:nth-child(4)').textContent); // Adjust this index based on the position of the date in your table
            if (paymentDate < new Date(startDate) || paymentDate > new Date(endDate)) {
                rows[i].style.display = 'none';
            } else {
                rows[i].style.display = '';
            }
        }
    }

</script>
{% endblock custom_js %}